.cf-languages {
  z-index : 50001 !important;
}

.cf-languages a img {
  width        : 20px;
  margin-right : 4px;
}

.cf-languages li {
  display      : inline;
  margin-right : 7px;
}

.ajax-loader {
  height : 19px;
  width  : 16px;
}

.blog article {
  border-bottom : 1px solid #CCC;
  padding       : 0 0 35px 0;
  margin-bottom : 35px;
}

aside .widget .news-thumb img {
  border : 0px solid #CCC;
}

aside .widget {
  margin-bottom : 28px;
}

aside .widget .news-content span a {
  color     : #8B8787;
  font-size : 12px;
}

.rooms {
  margin-bottom : 35px;
}

.cf-next-opening {
  background-color : red;
  color            : #fff;
  border-radius    : 0px;
  border-color     : red;
  padding          : 16px;
  text-align       : center;
  bottom           : 0;
  position         : fixed;
  width            : 100%;
  z-index          : 999;
  font-size        : 25px;
}

/* Pagination
   Learn more: {@link http://wptheming.com/2015/02/styling-posts-pagination/}
-------------------------------------------------- */
.page-numbers {
  display         : inline-block;
  padding         : 5px 10px;
  margin          : 0 2px 0 0;
  border          : 1px solid #eee;
  line-height     : 1;
  text-decoration : none;
  border-radius   : 2px;
  font-weight     : 600;
}

.page-numbers.current,
a.page-numbers:hover {
  background : #f9f9f9;
}

.blog-author {
  margin-top    : 0px;
  border-bottom : 0px solid #E9E9E9;
}

.blog-author img {
  width  : inherit;
  border : 0px solid;
  width  : 75px;
}

.reply-button a {
  color : #FFF;
}

.comment-form #submit {
  color : #5E5E5E;
}

.comment-form .form-control {
  color : #6F6B6B;
}

.comment-form code {
  font-size   : 75%;
  display     : block;
  white-space : pre-line;
}

.box-icon .square {
  -webkit-border-radius : 0px;
  -moz-border-radius    : 0px;
  border-radius         : 0px;
  padding               : 30px;
  display               : table;
  margin                : 0 auto;
  background-color      : #FFF;
  -webkit-transition    : all 0.3s ease-in-out;
  -moz-transition       : all 0.3s ease-in-out;
  -o-transition         : all 0.3s ease-in-out;
  -ms-transition        : all 0.3s ease-in-out;
  transition            : all 0.3s ease-in-out;
  display               : inline-block;
  position              : relative;
  float                 : left;
  border                : 1px solid;
}

#go-top {
  position              : fixed;
  float                 : right;
  right                 : 30px;
  bottom                : 30px;
  z-index               : 9999;
  display               : none;
  cursor                : pointer;
  -webkit-border-radius : 0px;
  -moz-border-radius    : 0px;
  border-radius         : 0px;
  padding               : 5px;
  background-color      : #FFF;
  opacity               : 0.75;
  border                : 1px solid;
}

#main-menu {
  z-index  : 50000;
  position : relative;
}

#colorbox, #cboxOverlay, #cboxWrapper {
  z-index : 60000 !important;
}

/* Audio Player.
-------------------------------------------------- */
.cf-show-audio-player {
  /*width            : 373px;*/
  /*padding          : 0px;*/
  /*border           : 1px solid red;*/
  z-index          : 1000000;
  position         : absolute;
  /*left             : 0;*/
  display          : none;
  background-color : #272727;
  top              : 24px;
  /*right            : 10px;*/
  right            : 46px;
}

.cf-show-audio-player img {
  max-width : 181px;
  height    : auto;
}

.cf-show-audio-player .btn-control {
  position         : absolute;
  top              : 2px;
  background-color : #585454;
}

.cf-show-audio-player .cf-div {
  float   : left;
  padding : 2px;
}

.cf-show-audio-player .cf-div.right {
  margin-left : 5px;
  width       : 40%;
}

.cf-show-audio-player .media-player-icon {
  /*font-size     : 15px !important;*/
  font-size     : 47px !important;
  padding-right : 2px;
}

.cf-show-audio-player .cf-div.right p {
  margin-top : 16px;
}

#cf-box-audio-player i.icon-remove {
  cursor : pointer;
}

/* Intro section (SHORTCODE).
-------------------------------------------------- */

.cf-section-intro .cf-title {
  font-size   : 29px;
  line-height : 0px;
}

.mb64 {
  margin-bottom : 38px;
}

.cf-section-intro.black-box {
  background-color : #292929;
  padding          : 38px;
  color            : #F1F1F1;
}

.cf-section-intro.black-box h2 {
  color : #E0E0E0;
}

/* Header text color.
-------------------------------------------------- */
/*.parallax-effect h1, .parallax-effect h2, .parallax-effect h3, .parallax-effect h4, .parallax-effect h5, .parallax-effect h6 {*/
/*color : #486376;*/
/*}*/

/*.breadcrumb > li a {*/
/*color : #486376;*/
/*}*/

/*.breadcrumb > .active {*/
/*color : #486376;*/
/*}*/

.nav .dropdown-toggle .caret {
  border-top-color    : inherit;
  border-bottom-color : inherit;
  margin-top          : 6px;
}

@media (min-width : 1200px) {
  .span2 {
    width : 100%;
  }
}

@media (min-width : 1200px) {
  [class*="span"] {
    margin-left : 0px;
  }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-image : inherit;
  background-image : inherit;
  background-image : inherit;
  background-image : inherit;
}