.browsehappy {
  margin     : 0.2em 0;
  background : #ccc;
  color      : #000;
  padding    : 0.2em 0;
}

/* =Fonts styles.
 -------------------------------------------------------------- */
/* =Combinación Perfecta: Olympic Branding
 -------------------------------------------------------------- */
@font-face {
  font-family : 'Olympic';
  src         : url(Olympic_Branding.ttf);
  src         : url(Olympic_Branding.ttf) format('truetype');
}

.marketing p {
  margin : 0px 0px -67px;
}

/* Space out content a bit */
body {
  /*overflow-y                        : hidden;*/
  overflow-x                        : hidden;

  animation-name                    : sky;
  animation-duration                : 6s;
  animation-timing-function         : ease;
  animation-iteration-count         : 1;
  animation-direction               : normal;
  animation-delay                   : 0;
  animation-play-state              : running;
  animation-fill-mode               : forwards;

  -webkit-animation-name            : sky;
  -webkit-animation-duration        : 6s;
  -webkit-animation-timing-function : ease;
  -webkit-animation-iteration-count : 1;
  -webkit-animation-direction       : normal;
  -webkit-animation-delay           : 0;
  -webkit-animation-play-state      : running;
  -webkit-animation-fill-mode       : forwards;
}

/* -------------------------------------------------------------------------
   KEYFRAMES CSS
------------------------------------------------------------------------- */

@-webkit-keyframes sunrise {
  0% {
    bottom     : -500px;
    left       : 105px;
    background : #f00;
  }
}

@keyframes sunrise {
  0% {
    bottom     : -500px;
    left       : 105px;
    background : #f00;
  }
}

/* #C5E7F8
   #C5E7F8
 */
@-webkit-keyframes sky {
  0% {
    background-color : #000000;
  }

  100% {
    background-color : #ffffff;
  }
}

@keyframes sky {
  0% {
    background-color : #000000;
  }

  100% {
    background-color : #ffffff;
  }
}

#cf-moving-sun {
  /*background    : none repeat scroll 0% 0% #FFC20E;*/
  /*width         : 115px;*/
  /*height        : 115px;*/
  /*position      : absolute;*/
  /*border-radius : 70px;*/
  /*z-index       : 2;*/
  /*bottom        : 1px;*/
  /*left          : 114px;*/

  background    : none repeat scroll 0% 0% #FFC20E;
  width         : 92px;
  height        : 92px;
  position      : absolute;
  border-radius : 70px;
  z-index       : 2;
  bottom        : 2px;
  left          : 126px;
  /*border        : 1px solid red;*/
}

#cf-moving-sun {
  animation         : sunrise 2s linear; /*infinite*/
  -webkit-animation : sunrise 2s linear;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left  : 15px;
  padding-right : 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top     : 0;
  margin-bottom  : 0;
  line-height    : 40px;
  padding-bottom : 19px;
}

/* Custom page footer */
.footer {
  padding-top : 19px;
  color       : #777;
  border-top  : 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin : 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align    : center;
  border-bottom : 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size : 21px;
  padding   : 14px 24px;
}

.marketing p + h4 {
  margin-top : 28px;
}

/*= CF Header: Cabecera con los efectos de las nubes.
 -------------------------------------------------------------- */
#cf-header {
  top     : 0px;
  left    : 0px;
  z-index : 100;
}

.cf-header {
  top       : 0;
  left      : 0;
  width     : 100%;
  min-width : 900px;
  /*height    : 359px;*/
  height    : 169px;
  overflow  : hidden;
}

#cf-clouds {
  background : url("../images/clouds.png") repeat-x scroll 305px 44px transparent;
  z-index    : 2;
  position   : absolute;
}

#cf-birds {
  background : url("../images/birds.gif") repeat-x scroll 96px 10px transparent;
  z-index    : 1;
  position   : absolute;
  left       : 0px;
  top        : 35px;
  height     : 108px;
}

/*= CF Footer: Pie con los efectos de las nubes.
 -------------------------------------------------------------- */
#cf-footer {
  top     : 0px;
  left    : 0px;
  z-index : 100;
}

.cf-footer {
  left   : 0;
  top    : 0px;
  height : 222px;
}

#cf-dark-sea {
  background : url("../images/surf_dark.png") repeat-x scroll 304px 30px transparent;

  height     : 96px;
  position   : absolute;
  /*top        : 105px;*/
  top        : 42px;
  left       : 0px;
  width      : 100%;
  z-index    : 198;
}

#cf-light-sea {
  background : url("../images/surf_light.png") repeat-x scroll 211px 25px transparent;
  height     : 96px;
  position   : absolute;
  /*top        : 105px;*/
  top        : 52px;
  left       : 0px;
  width      : 100%;
  z-index    : 199;
}

img {
  width : 100%;
}

#cf-wall {
  background : url("../images/wall.svg") repeat scroll 0px 0px transparent;
  width      : 100%;
  left       : 0px;
  position   : absolute;
  z-index    : 200;
}

.container {
  max-width : 345px;
  position  : relative;
  top       : 81px;
  z-index   : 100;
}

.cf-text-container {
  top : -117px;
}

.cf-container-logo {
  margin : auto;
}

.row .row {
  margin-top    : 10px;
  margin-bottom : 0;
}

.cf-container-logo [class*="col-"] {
  padding : 1px 2.5px;
}

/* -------------------------------------------------------------------------
   OVERLAY
------------------------------------------------------------------------- */

.overlay {
  position : relative;
  display  : block;
  overflow : initial;
}

.overlay img {
  display : block;
  width   : 100%;
  height  : auto;
}

.overlay:hover .overlay-content {
  opacity           : 1;
  visibility        : visible;
  -webkit-transform : scale(1);
  -moz-transform    : scale(1);
  -ms-transform     : scale(1);
  -o-transform      : scale(1);
  transform         : scale(1);
}

.overlay:hover .overlay-shadow {
  visibility : visible;
  opacity    : 1;
}

.overlay-shadow {
  position           : absolute;
  top                : 1px;
  left               : 2px;
  bottom             : 1px;
  height             : 98%;
  right              : 0;
  opacity            : 0;
  background         : rgba(30, 46, 66, 0.8);
  -webkit-transition : all .3s ease-in-out;
  -moz-transition    : all .3s ease-in-out;
  -ms-transition     : all .3s ease-in-out;
  -o-transition      : all .3s ease-in-out;
  transition         : all .3s ease-in-out;
  -webkit-transform  : scale(1);
  -moz-transform     : scale(1);
  -ms-transform      : scale(1);
  -o-transform       : scale(1);
  transform          : scale(1);
}

.overlay-content {
  position           : absolute;
  top                : 45%;
  width              : 100%;
  text-align         : center;
  visibility         : hidden;
  opacity            : 0;
  -webkit-transform  : scale(0.2);
  -moz-transform     : scale(0.2);
  -ms-transform      : scale(0.2);
  -o-transform       : scale(0.2);
  transform          : scale(0.2);
  -webkit-transition : all 0.3s ease 0s;
  -moz-transition    : all 0.3s ease 0s;
  -ms-transition     : all 0.3s ease 0s;
  -o-transition      : all 0.3s ease 0s;
  transition         : all 0.3s ease 0s;
}

.overlay-content .button {
  color        : #fff;
  border-color : #fff;
}

.overlay-content .button:hover {
  color      : #162232;
  background : #fff;
}

.feature .btn {
  margin-top : 10px;
}

.feature .overlay-content .btn {
  padding    : 8px 14px;
  margin-top : 0;
}

.btn.light {
  color            : #FFF;
  border           : 2px solid #000;
  background-color : #000;
  border-radius    : 0px;
  width            : 100%;
}

/* In tag overlay-shadow */
.cf-guide {
  opacity    : 1;
  visibility : visible;
}

.cf-guide .overlay-content {
  opacity           : 1;
  visibility        : visible;
  -webkit-transform : scale(1);
  -moz-transform    : scale(1);
  -ms-transform     : scale(1);
  -o-transform      : scale(1);
  transform         : scale(1);
}

.cf-hostal {
  background : url("../images/hostal.png") repeat scroll 0px 0px transparent;
}

.cf-overlay-shadow-sun {
  background : inherit;
}

.cf-overlay-blog {
  position : static;
}

.cf-font-olympic {
  /*font-size : 86px;*/
  font-size : 69px;
}

.cf-font-olympic {
  font-family : 'Olympic', sans-serif;
  color       : #081242;
  float       : left;
  left        : 4px;
  position    : absolute;
  top         : -25px;
}

/*= Split Layout (intro).
 -------------------------------------------------------------- */
#show-intro {
  cursor    : pointer;
  font-size : 19px;
  color     : #A5A5A5;
  position  : relative;
  right     : 10px;
}

#show-intro:hover {
  color : #4B6A86;
}

#side-intro {
  display      : none;
  padding-left : 39px;
}

.side-intro-normal {
  margin-top : -30px;
}

.side-intro-mobile {
  margin-top : 60px;
}

.left-side {
  padding     : 41px;
  padding-top : 0px;
}

#close-intro {
  font-size     : 21px;
  display       : block;
  margin-bottom : 14px;
  margin-top    : -14px;
  cursor        : pointer;
  color         : #5C9A57;
}

.intro-mobile {
  margin-top   : 81px;
  margin-left  : -15px;
  margin-right : -15px;
  position     : absolute;
}

.wp-socializer-opacity.columns-no {
  display    : flex !important;
  list-style : none !important;
  padding    : 0px !important;
  float      : right;
  margin-top : 10px;
}

.wp-socializer-opacity li {
  margin-right : 5px !important;
}

.auto-width {
  width : 80%;
}

.border-intro {
  border-right : 1px solid #C5C5C5;
}

#side-intro .content-intro {
  padding : 17px;
}

.content-intro p {
  font-size : 1.3em;
}

.animation {
  animation                   : SHW .5s;
  -moz-animation-fill-mode    : forwards, none;
  -webkit-animation-fill-mode : forwards, none;
  animation-fill-mode         : forwards, none;
}

.animation-close {
  animation                   : SHW-l .5s;
  -moz-animation-fill-mode    : forwards, none;
  -webkit-animation-fill-mode : forwards, none;
  animation-fill-mode         : forwards, none;
}

@keyframes SHW {
  from {
    -moz-transform : scale(0.7);
    -ms-transform  : scale(0.7);
    transform      : scale(0.7); /* skew(-35deg) | rotate(45deg) | skew(30deg) scale(1.1,1.1) rotate(40deg) translate(10px, 20px) */
    /*opacity        : 0;*/
  }
  to {
    -moz-transform : scale(0.9);
    -ms-transform  : scale(0.9);
    transform      : scale(0.9); /* skew(0deg) */
    /*opacity        : 1;*/
  }
}

@keyframes SHW-l {
  from {
    -moz-transform : scale(0.9);
    -ms-transform  : scale(0.9);
    transform      : scale(0.9); /* skew(-35deg) | rotate(45deg) | skew(30deg) scale(1.1,1.1) rotate(40deg) translate(10px, 20px) */
    opacity        : 0;
  }
  to {
    -moz-transform : scale(1);
    -ms-transform  : scale(1);
    transform      : scale(1); /* skew(0deg) */
    opacity        : 1;
  }
}

/* Audio Player.
-------------------------------------------------- */
.cf-show-audio-player {
  width            : 373px;
  padding          : 0px;
  /*border           : 1px solid red;*/
  z-index          : 1000000;
  position         : absolute;
  /*left             : 0;*/
  display          : none;
  background-color : #272727;
  top              : 24px;
  right            : 10px;
}

.cf-show-audio-player img {
  max-width : 181px;
  height    : auto;
}

.cf-show-audio-player .btn-control {
  position         : absolute;
  top              : 2px;
  background-color : #585454;
}

.cf-show-audio-player .cf-div {
  float   : left;
  padding : 2px;
}

.cf-show-audio-player .cf-div.right {
  margin-left : 5px;
  width       : 40%;
}

.cf-show-audio-player .media-player-icon {
  font-size     : 15px !important;
  padding-right : 2px;
  color         : #fff;
}

.cf-show-audio-player .cf-div.right p {
  margin-top : 16px;
  color      : #D8D8D8;
  font-size  : 12px;
}

.cf-show-audio-player .cf-div h5 {
  font-weight : bold;
  color       : #fff;
  font-size   : 16px;
}

#cf-box-audio-player i.icon-remove {
  cursor : pointer;
}

blockquote {
  padding     : 10px 20px;
  margin      : 0 0 20px;
  font-size   : 17.5px;
  border-left : 5px solid #8AAABF;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width : 768px) {

  .container {
    max-width : 492px;
  }

  .cf-text-container {
    max-width : 756px;
    top       : -89px !important;
  }

  .cf-font-olympic {
    /*font-size : 122.7px;*/
    font-size : 98.7px;
  }

  .cf-font-olympic {
    font-family : "Olympic", sans-serif;
    color       : #081242;
    float       : left;
    left        : 6px;
    position    : absolute;
    top         : -38px;
  }

  #cf-moving-sun {
    /*background    : none repeat scroll 0% 0% #FFC20E;*/
    /*width         : 159px;*/
    /*height        : 159px;*/
    /*position      : absolute;*/
    /*border-radius : 78px;*/
    /*z-index       : 2;*/
    /*bottom        : 7px;*/
    /*left          : 167px;*/
    background    : none repeat scroll 0% 0% #FFC20E;
    width         : 133px;
    height        : 133px;
    position      : absolute;
    border-radius : 78px;
    z-index       : 2;
    bottom        : 1px;
    left          : 180px;
  }

  .marketing p {
    margin : -26px 0px -67px;
  }

  .cf-space {
    height : 92px;
  }

  #cf-light-sea {
    background : url("../images/surf_light.png") repeat-x scroll 272px 46px transparent;
  }

  #cf-dark-sea {
    background : url("../images/surf_dark.png") repeat-x scroll 304px 43px transparent;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left  : 0;
    padding-right : 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom : 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom : 0;
  }

}

.cf-font-olympic-mobile {
  font-size : 72.7px !important;
}